*{
  margin: 0px;
  padding: 0px;
}
.sunnysideHeader {
  color: white;
  text-align: left;
  /* font-size: large; */
}
.about, .services, .project, .contacts{
  margin-right: 30px;
}
a:hover {
  border: 3px solid black;
  border-radius: 20px;
  background-color: blue;
}
nav {
  text-align: right;
  margin-right: 20px;
  /* margin-top: 10px; */
}
a {
  /* padding-inline: 20px; */
  text-decoration: none;
  color: black;
}
.header {
  color: white;
  margin-top: 75px;
  font-size: 4em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.sunnysideHeader {
  font-size: 100px;
  /* border: 2px solid white; */
}
.sunny {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  width: 100%
}
.sunnylink {
  /* border: 2px solid red; */
}
.container1 {
  background-repeat: no-repeat;
  /* border: 5px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#item1 {
  /* border: 2px solid red; */
  background-image: url("images/image-header.jpg");
  height: 700px;
  background-position: center;
}

.item2 {
  /* border: 2px solid red; */
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item3{
  background-image: url("images/image-transform.jpg");
  background-position: center;
  border: 2px solid yellow;
}
.item4{ 
  background-image: url("images/image-stand-out.jpg");
  background-position: ce;
  border: 2px solid pink;
 }
.item5 {
  /* border:2px solid orange; */
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item6{ 
  /* border: 2px solid blue; */
  background-image: url( "images/image-graphic-design.jpg");
  height: 600px;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
.graphicdesign{
padding-bottom: 20%;
}

.item7{
  /* border: 2px solid magenta; */
  background-image: url("images/image-photography.jpg");
  height: 600px;
  background-position: center;
text-align: center;
display: flex;
justify-content: center;
align-items: end;
}
.photography{
padding-bottom: 20%;
}
img{
  border-radius: 100px 100px;
}
#container2items{
display: grid;
grid-template-columns: 30% 30% 30%;
padding-top: 50px;
text-align: center;
}
.clienttestimonies{
text-align: center;
padding-top: 50px;
}
#container3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#container3 img{
border-radius: 0px 0px;
width: 100%;
height: 100%;
padding-top: 50px;
}
#container4{
padding-top: 50px;
text-align: center;
background-color: aquamarine;
}

.footer{
  font-size: large;
color: green;
}

a{
  color: white;
text-decoration: none;
padding-inline: 30px;
}
.footerImages{
  padding-top: 100px;
}
.extrafont{
  font-size: 2em;
}